.gsd-keyboard.settings-ported
BraveSoftware/*
Electron/*
QtProject.conf
Thunar/*
VirtualBox/*
autostart/*
balena-etcher/*
baloofilerc
dconf/*
discord/*
gtk-2.0/*
gtk-3.0/*
gwenviewrc
htop/*
kwalletmanager5rc
kwalletrc
libreoffice/*
mimeapps.list
neofetch/*
nitrogen/*
obsidian/*
okularpartrc
okularrc
pulse/*
systemd/*
unity3d/*
vlc/*
xfce4/*
nvim/*
